.img-list{
    /*& img{
        transition:opacity 0.2s ease-in;
    } */
    /* & > img:not(._loaded){
        width:300px;
        height:169px;
        opacity:0.2;
    } */
    /* & > img._loaded{
        opacity:1;
    } */
}

.folder-tag{
    font-size:10px;
    /* background-color:var(--accent1); */
    /* color:var(--accent1-t1); */
    background-color:rgb(116, 88, 17);
    color:whitesmoke;
    /* border-radius:20px; */
    /* border:solid 1px darkgoldenrod; */
    border-radius:3px;
    padding:4px 12px;
    font-weight:bold;
    user-select:none;
    text-transform:capitalize;
    opacity:0.5;
}
.folder-tag:hover{
    opacity:1;
}

.rp-info-box{
    display:grid;
    grid-template-columns:0.5fr 0.5fr;
    margin-bottom:5px;
}
.rp-info-box > div > div:not(:last-child){
    margin-bottom:8px;
}
.monospace{
    font-family:monospace;
    line-height:1.3;
}