@import "material_symbols.css";

:root{
	--alert-bg:rgb(219, 29, 29);
	--alert-col:whitesmoke;
}

:root.themestyle-dark{
	/* colors */
	--c1:#501010;
	/* --c2:#211; */
	--c2:#111;
	--menu-bg:#151515;
	--menu-border:#333;

	--accent1:royalblue;
	--accent1-t1:white;

	/* text */
	--t1:white;
	--t2:lightgray;
	--text-dim:gray;
	--text-dim2:#333;

	/* table */
	--table-border:#444;
	--table-bg:#151515;
	--table-t1:white;
	--table-hover:#252525;

	--table-select-bg:rgb(52, 70, 126);
	--table-select-t1:white;
	--table-select-hover:rgb(59, 86, 169);

	--accent-border:var(--accent1);
	--accent-t1:var(--accent1);
	--hover-filter:brightness(1.5);

	/* input */
	--input-bg:#333;
	--input-border:#444;
	--input-t1:gainsboro;

	--input-focus:white;
	--input-focus-shadow:rgba(255, 255, 255, 0.311);

	/* buttons */
	--btn-bg:var(--input-bg);
	--btn-t1:var(--t1);
	--btn-border:var(--input-border);
	--btn-hover:var(--input-border);
	--btn-active:var(--menu-bg);

	color-scheme:dark;
}

:root.themestyle-light{
	/* light theme */
	--c2:#eee;
	--t1:black;
	--t2:#333;
	/* --menu-bg:whitesmoke; */
	--menu-bg:#e5e5e5;
	--menu-border:#ddd;

	--input-bg:#ddd;
	--input-border:#ccc;
	--input-t1:#111;

	--table-bg:#e5e5e5;
	--table-border:#ddd;
	--table-t1:#111;

	/* accent */
	--table-select-bg:rgba(65, 105, 225, 0.171);
	--table-select-t1:#000;
	--table-select-hover:rgba(65, 105, 225, 0.171);

	--accent-border:var(--accent1);
	--accent-t1:var(--accent1);
	--hover-filter:brightness(1.5);

	/* --accent1:rgb(207, 214, 240); */
	/* --accent1-t1:#111; */
	--accent1:rgba(65, 105, 225, 0.171);
	--accent1-t1:#000;
	--accent1-t2:rgba(65, 105, 225, 0.871);
	--text-dim:#444;
	--text-dim2:#ccc;

	/*  */
	--input-focus:royalblue;
	--input-focus-shadow:rgba(65, 105, 225, 0.312);

	--accent-border:var(--input-focus);
	--accent-t1:var(--input-focus);
	--hover-filter:brightness(0.95);

	--contrast-invert-filter:invert(1) hue-rotate(180deg);
	color-scheme:light;

	/* light theme 2 */
	--c2:#e5e5e5;
	--menu-bg:#eee;
	--table-bg:#eee;

	/* buttons */
	--btn-bg:var(--c2);
	--btn-t1:var(--t1);
	--btn-border:var(--input-border);
	--btn-hover:var(--input-border);
	--btn-active:var(--menu-bg);
}

:root.themestyle-clean-light{
	/* accent */
	--table-select-bg:rgba(65, 105, 225, 0.171);
	--table-select-t1:#000;
	--table-select-hover:rgba(65, 105, 225, 0.171);

	/* --accent-border:#eee; */
	--accent-border:rgba(65, 105, 225, 0.371);
	--accent-t1:var(--input-focus);
	--hover-filter:brightness(0.95);
	
	/* accent */
	--accent1:rgba(65, 105, 225, 0.171);
	--accent1-t1:#000;
	--text-dim:#444;
	
	--input-focus:royalblue;
	--input-focus-shadow:rgba(65, 105, 225, 0.312);

	/* buttons */
	--btn-bg:rgb(239, 239, 245, 0.5);
	--btn-hover:#efeff5;

	/* & hr{
		--table-border:#eee;
	} */
}
:root.themestyle-light2{
	/* accent */
	--accent-border:var(--accent1);
	--accent-t1:var(--accent1);
	--hover-filter:brightness(1.5);

	--accent1:rgba(65, 105, 225, 0.171);
	--accent1-t1:#000;
	--text-dim:#444;

	--table-bg:#e5e5e5;
	--table-border:#ddd;
	--table-t1:#111;

	--table-select-bg:rgba(65, 105, 225, 0.171);
	--table-select-t1:#000;
	--table-select-hover:rgba(65, 105, 225, 0.171);
	/*  */
	
	--menu-bg:#f5f5f5;

	--input-bg:#f5f5f5;
	--input-border:#ddd;
	--input-t1:#111;
	
	--input-focus:royalblue;
	--input-focus-shadow:rgba(65, 105, 225, 0.312);
}
:root.themestyle-clean-dark{
	--c2:#020202;
	--t1:#ddd;
	--t2:#bbb;
	--text-dim:#aaa;
	
	/* accent */
	--accent1:rgba(65, 105, 225, 0.271);
	--accent1-t1:#ddd;

	--table-select-bg:rgba(117, 144, 224, 0.271);
	--table-select-t1:white;
	--table-select-hover:rgba(65, 105, 225, 0.271);

	/* --table-bg:#1A1F28; */
	/* --table-t1:#111; */
	
	--accent-border:var(--input-focus);
	--accent-t1:var(--input-focus);
	--hover-filter:brightness(0.95);
	
	--input-focus:white;
	--input-focus-shadow:rgba(255, 255, 255, 0.311);
	/* --input-focus:rgba(65,105,225,0.3); */
	/* --input-focus-shadow:rgba(65,105,225,0.412); */

	/* do I want this in clean-dark? */
	--input-bg:#222;
	--input-border:#333;
	--input-t1:gainsboro;

	& hr{
		--table-border:#3D4752;
	}

	color-scheme:dark;
}
:root.themestyle-mint{
	/* light theme */
	--c2:#eee;
	--t1:black;
	--t2:#333;
	/* --menu-bg:whitesmoke; */
	/* --menu-bg:#e5e5e5; */
	--menu-border:#ddd;
	
	/* accent */
	--table-select-bg:rgba(116, 196, 196, 0.226);
	--table-select-t1:#000;
	--table-select-hover:rgba(116, 196, 196, 0.226);

	--accent-border:var(--input-focus);
	--accent-t1:var(--input-focus);
	--accent-t1:black;
	--hover-filter:brightness(0.95);
	
	/* accent */
	/* --accent1:rgba(65, 225, 214, 0.171); */
	/* --accent1:rgba(0, 128, 128, 0.126); */
	/* --accent1:rgba(139, 220, 220, 0.226); */
	--accent1:rgba(116, 196, 196, 0.226);
	--accent1-t1:#000;
	--accent1-t2:rgba(28, 131, 131, 0.826);
	--text-dim:#444;
	--text-dim2:#ccc;
	
	/* input */
	--input-bg:#e8e8e8;
	--input-focus:teal;
	--input-focus-shadow:rgba(116, 196, 196, 0.226);
	--input-border:#ddd;

	/* buttons */
	--btn-bg:rgb(239, 239, 245, 0.5);
	--btn-hover:#e1e1e1;
	--btn-border:var(--input-border);

	--contrast-invert-filter:invert(1) hue-rotate(180deg);
	color-scheme:light;
}
:root.themestyle-soft-colors{
	--c2:#212733;
	--t1:#aaa;
	--t2:#bbb;
	--text-dim:#aaa;
	/* --text-dim2:#33353a; */
	--text-dim2:#4b4e56;

	--menu-bg:#1A1F28;
	--menu-border:#14171E;
	
	/* accent */
	--accent1:#BAE67E;
	/* --accent1:rgb(186, 230, 126); */
	--accent1-t1:#000;

	--table-select-bg:rgba(117, 144, 224, 0.271);
	--table-select-t1:white;
	--table-select-hover:rgba(117, 144, 224, 0.271);

	--table-bg:#1A1F28;
	--table-border:#3D4752;
	--table-t1:#111;

	--accent-border:var(--input-focus);
	--accent-t1:var(--input-focus);
	--hover-filter:brightness(0.95);
	
	--input-focus:white;
	--input-focus-shadow:rgba(255, 255, 255, 0.311);
	/* --input-focus:rgba(65,105,225,0.3); */
	/* --input-focus-shadow:rgba(65,105,225,0.412); */

	/* do I want this in clean-dark? */
	--input-bg:#3D4752;
	--input-border:#3D4752;
	--input-t1:gainsboro;

	/* buttons */
	/* --btn-bg:rgb(239, 239, 245, 0.5); */
	--btn-hover:rgba(0,0,0,0.2);
	--btn-border:var(--input-border);

	color-scheme:dark;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	/* margin: auto; */
	/* max-width: 38rem; */
	/* padding: 2rem; */

	color:var(--t1);
	background-color:var(--c2);

	margin:0px;
}

.mod-list{
	margin-top:20px;
	display:flex;
	flex-direction:column;
	width:550px;
	border:solid 1px gray;
	gap:2px;
}
.mod-list > div{
	padding:10px 15px;
	background-color:var(--c1);
	color:var(--t1);
	font-size:12px;
	border:solid 1px gray;
}

.mod-table{
	margin-top:20px;

	border-collapse:collapse;
	font-size:12px;
	background-color:var(--table-bg);
	color:var(--table-t1);

	user-select:none;
}
.mod-table td,
.mod-table th{
	padding:10px;
	border:solid 1px var(--table-border);
}
.mod-table .mod-row:hover{
	cursor:default;
	background-color:var(--table-hover);
}

.mod-table.thin td{
	padding:3px 10px;
}

/*  */
.mod-table .index{
	width:0px;
	height:0px;
	font-size:11px;
	padding:5px 10px;
	text-align:center;
	color:var(--text-dim);
}
.mod-table .selected{
	background-color:var(--table-select-bg);
	color:var(--table-select-t1);

	& td{
		border-color:var(--table-select-border,var(--table-select-bg));
	}
}
.mod-table .selected:hover{
	background-color:var(--table-select-hover);

	& td{
		border-color:var(--table-select-hover-border,var(--table-select-hover));
	}
}

/* Util */
.hide{
	display:none;
}
.material-symbols-outlined{
	max-width:1em;
}
.icon{
	max-width:1em;
}

button.disabled{
	background-color:var(--text-dim2);
}