.root{
    margin:15px;
    min-width:300px;
    width:100%;
}

.flex{
    display:flex;
}
.flex-dir-column{
    flex-direction:column;
}

hr{
    border-color:var(--table-border);
    align-self:normal;
}

.outlined-box{
    border:solid 1px var(--menu-border);
    border-radius:5px;
    padding:0px 12px;
}

.textstyle-note{
    /* font-style:italic; */
    font-weight:bold;

    &::before{
        /* content:"* "; */
        content:"warning";
        font-family:"Material Symbols Outlined";
        /* vertical-align:middle; */
        margin-right:3px;
        /* color:orangered; */
        font-size:15px;
        font-weight:normal;
        transform:translate(0px, 3px);
        display:inline-block;
    }
}
.textstyle-accent{
    color:var(--accent-t1);
}

section{
    margin:12px 0px;
}

.icon-btn{
    display:flex;
    align-items:center;
    gap:7px;

    & .icon{
        /* font-family:"Material Symbols Outlined"; */
        /* font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24; */
        /* color:var(--t2); */

        margin-left:-2px;
        font-size:15px;
        /* vertical-align:middle; */
    }
}

aside{
    position:sticky;
    right:0px;
    top:0px;
}

/* General Componenets */
.activity-bar{

}

/* Tabbed Menus */
.tabbed-menu{
    display:grid;
    grid-template-columns:auto auto;
}
.tabbed-activity-bar{

}
.tabbed-main{
    
}

/* Overlays */
.overlays-cont{
    position:fixed;
    top:0px;
    left:0px;

    &.open{
        & .overlays-back{
            display:block;
        }
    }
}
.overlays-back{
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    display:none;
}